@model DAL.Models.CustomerInfo
@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="has-bg-img">
    <img class="bg-img img-fluid" src="~/Images/home.jpg" alt="...">
</div>
<br />
<div class="bg-text" style="overflow-x:auto;">
    @if (TempData["WarningMessage"] != null)
    {
        <div class="alert alert-danger ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <strong>Failed! </strong>@TempData["WarningMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ; style="float:right">
            </button>
        </div>
    }
   @using (Html.BeginForm("NewUser", "Common", FormMethod.Post))
        {
        <div class="row">
            <div class="col-md-6">
                <div>
                    <span style="color: gold;">@Html.Label("Name:")</span>
                    @Html.TextBoxFor(m => m.CustName, new { @class = "form-control", @placeholder = "Enter Full Name" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.CustName, "", new { @class = "error" })</span>
                </div>
                <div>
                    <span style="color: gold;"> @Html.Label("Email ID:")</span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter official Email Id" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })</span>
                </div>
                <div>
                    <span style="color: gold;">@Html.Label("PinCode:")</span>
                    @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control", @placeholder = "Enter PinCode" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.PinCode, "", new { @class = "error" })</span>
                </div>
                <div>
                    <span style="color: gold;"> @Html.Label("Country:")</span>
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @placeholder = "Enter Country" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.Country, "", new { @class = "error" })</span>
                </div>
                <div>
                    <span style="color: gold;"> @Html.Label("Contact:")</span>
                    @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", @placeholder = "Enter Contact" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "error" })</span>
                </div>
                <div>
                    <span style="color: gold;"> @Html.Label("Password:")</span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</span>
                </div>
                <br />
                <div>
                    <input type="submit" value="Add" class="btn btn-danger" />
                </div>
                <br />
                @if (ViewBag.error != null)
                {
                    <p class="text" style="font:600; color:darkorange">@ViewBag.error</p>
                }
            </div>
        </div>
    }
</div>
