@model List<DAL.Models.getorderiteminfobycode_Result>
@{
    ViewBag.Title = "AllOrders";
    Layout = "~/Views/User/Shared/_LayoutPageUser.cshtml";
}

<div class="has-bg-img">
    <img class="bg-img img-fluid" src="~/Images/home.jpg" alt="...">
</div>
    <div class="bg-text" style="overflow-x:auto; overflow-y">
        <table class="table table-responsive table-hover table-bordered">
            <tr class="bg-info">
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Product ID</th>
                <th> Quantity</th>
                <th> MRP</th>
                <th> Amount</th>
                <th> Date</th>
            </tr>
            @foreach (var prod in Model)
            {
                <tr style="color: white;">
                    <td>@prod.OrderId</td>
                    <td>@prod.custid</td>
                    <td>@prod.ProId</td>
                    <td>@prod.qty</td>
                    <td>@prod.mrp</td>
                    <td>@prod.amount</td>
                    <td>@prod.Date</td>
                </tr>
            }
        </table>
    </div>
