@model List<DAL.Models.Cart>
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/User/Shared/_LayoutPageUser.cshtml";
}

<div class="has-bg-img">
    <img class="bg-img img-fluid" src="~/Images/home.jpg" alt="...">
</div>
<div class="bg-text" style="overflow-x:auto;">
    @if (TempData["AlertMessage"] != null)
    {
        if (Convert.ToString(TempData["AlertMessage"]) != "Error..!")
        {
            <div class="alert alert-success" id="success-alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
                <strong>Success! </strong>@TempData["AlertMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ; style="float:right">
                </button>
            </div>}
        else
        {
            <div class="alert alert-danger ">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <strong>Failed! </strong>@TempData["AlertMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ; style="float:right">
                </button>
            </div>
        }
    }
    @if (TempData["AllOrdersMessage"] != null)
    {
        <div class="alert alert-success" id="success-alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <strong>Success! </strong>@TempData["AllOrdersMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ; style="float:right">
            </button>
        </div>
    }
    @if (TempData["CardEmptiedMessage"] != null)
    {

        <div class="alert alert-success" id="success-alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
            <strong>Success! </strong>@TempData["CardEmptiedMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ; style="float:right">
            </button>
        </div>
    }
    @if (TempData["CartEmpty"] != null)
    {
        <div class="alert alert-warning" id="success-alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <strong>Status : </strong>@TempData["CartEmpty"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ; style="float:right">
            </button>
        </div>
    }
    else
    {
        <br />
        <table class="table table-responsive table-hover table-bordered">
            <tr class="bg-info">
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Product ID</th>
                <th> Quantity</th>
                <th> MRP</th>
                <th> Amount</th>
                <th style="text-align:center">Action</th>
            </tr>
            @foreach (var prod in Model)
            {
                <tr style="color: white;">
                    <td>@prod.OrderId</td>
                    <td>@prod.custid</td>
                    <td>@prod.ProId</td>
                    <td>@prod.qty</td>
                    <td>@prod.mrp</td>
                    <td>@prod.amount</td>
                    <td style="text-align:center">@Html.ActionLink("Remove from Cart", "RemoveFromCart", "User", new { id = prod.OrderId }, new { @class = "btn btn-info" })</td>
                </tr>
            }
        </table>
        <div class="add-btn" style="padding-top:10px; padding-right:5vw; padding-left:60vw;">
            @Html.ActionLink("Checkout", "Address", "User", new { @class = "btn btn-success  btn-lg" })
        </div>
    }
</div>