@model DAL.Models.Product
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Admin/Shared/_LayoutPageAdmin.cshtml";
}

<div class="has-bg-img">
    <img class="bg-img img-fluid" src="~/Images/home.jpg" alt="...">
</div>
<div class="bg-text" style="overflow-x:auto;">
    @if (TempData["WarningMessage"] != null)
    {
        <div class="alert alert-danger ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <strong>Failed! </strong>@TempData["WarningMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" ; style="float:right">
            </button>
        </div>
    }
    @using (Html.BeginForm("Addproduct", "Admin", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                <div>
                    <span style="color: gold;">
                        @Html.Label("Product ID:")
                    </span>
                    @Html.TextBoxFor(m => m.ProId, new { @class = "form-control" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.ProId, "", new { @class = "error" })</span>
                </div>
                <br />
                <div>
                    <span style="color: gold;">
                        @Html.Label("Product Name:")
                    </span>
                    @Html.TextBoxFor(m => m.ProName, new { @class = "form-control" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.ProName, "", new { @class = "error" })</span>
                </div>
                <br />
                <div>
                    <span style="color: gold;">
                        @Html.Label("Brand:")
                    </span>
                    @Html.TextBoxFor(m => m.BrandName, new { @class = "form-control" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.BrandName, "", new { @class = "error" })</span>
                </div>
                <br />
                <div>
                    <span style="color: gold;">
                        @Html.Label("Category:")
                    </span>
                    @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.Category, "", new { @class = "error" })</span>
                </div>
                <br />
                <div>
                    <span style="color: gold;">
                        @Html.Label("MRP:")
                    </span>
                    @Html.TextBoxFor(m => m.mrp, new { @class = "form-control" })
                    <span style="color:darkorange">  @Html.ValidationMessageFor(m => m.mrp, "", new { @class = "error" })</span>
                </div>
                <br />
                <div>
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <br />
                @if (ViewBag.error != null)
                {
                    <p class="text" style="font:600; color:darkorange">@ViewBag.error</p>
                }
            </div>
        </div>

    }
</div>

