@model List<DAL.Models.OrderItemInfo>
@{
    ViewBag.Title = "ViewOrderDetailsById";
    Layout = "~/Views/Admin/Shared/_LayoutPageAdmin.cshtml";
}


<div class="has-bg-img">
    <img class="bg-img img-fluid" src="~/Images/home.jpg" alt="...">
</div>
<div class="bg-text" style="overflow-x:auto;">
    <table class="table table-responsive table-hover table-bordered">
        <tr class="bg-info">
            <th>S.No.</th>
            <th>OrderID</th>
            <th>ProductID</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>TotalAmount</th>
        </tr>
        @foreach (var prod in Model)
        {
            <tr style="color: white;">
                <td> @Html.ActionLink(Convert.ToString(@prod.OrderId), "ViewOrderDetailsById", "Admin", prod.OrderId)</td>
                <td>@prod.OrderDate</td>
                <td>@prod.ShippDate</td>
                <td>@prod.CustId</td>
            </tr>
        }
    </table>
</div>